### Application
spring.application.name=money-transfer-api
server.port=8080

### Database
spring.datasource.url=jdbc:postgresql://localhost:5432/bank-api
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=username
spring.datasource.password=pass123

### Hibernate configuration
spring.jpa.hibernate.ddl-auto=create
spring.jpa.hibernate.naming-strategy=org.hibernate.cfg.ImprovedNamingStrategy
spring.jpa.database=postgresql
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

### JWT
# Leaving this here for demo purposes only
jwt.secret-key=217A25432A462D4A614E635266556A586E3272357538782F413F4428472B4B62

### Logging
logging.level.root=INFO
logging.level.com.example=TRACE

### Actuator
management.endpoints.web.exposure.include=health,info